.navbar-default{
    background-image: linear-gradient(to bottom, #7b7b7b 0%, #ffffff 100%)
}
.head{
    font-family: 'Oswald', sans-serif;
    background-color: #c4c4c4;
    border: 5px solid black;
    color: red;
}
.boxed{
    border: 5px solid black;
}

.border-bottom{
    border-bottom: 2px solid black;
}

body{
    background:#a5a5a5;
}